h1 {
    font-size: 36px;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    font-weight: 400;
}

div p {
    line-height: 1.7;
    word-spacing: -2px;
}

footer p {
    margin-top: 20px;
    font-size: 12px;
}